* {
    box-sizing: border-box;
    transition: 0.3s;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
}

.find-button {
    text-decoration: none;
    display: block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.find-button:hover {
    background-position: right center;
}

.ip-info {
    color: white;
    border-collapse: collapse;
    width: 50%;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

.ip-info td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.ip-info td:nth-child(odd) {
    font-weight: 700;
}

